<mat-toolbar
  fxLayout="row"
  fxLayoutAlign="end center"
  [color]="isLightTheme ? '' : 'primary'"
>
  <!-- Home / Invitation Link Button -->
  <div *ngIf="roomUrl | async as url; then url; else home"></div>
  <ng-template #url>
    <button
      *ngIf="roomUrl | async as url"
      mat-icon-button
      [matTooltip]="'Get invitation link'"
      (click)="copyUrlToClipboard(url)"
    >
      <mat-icon matSuffix>link</mat-icon>
    </button>
  </ng-template>
  <ng-template #home>
    <button mat-icon-button [matTooltip]="'Home'" routerLink="/">
      <img src="assets/logo.svg" alt="logo" style="max-width: 100%" />
    </button>
  </ng-template>
  <div
    fxFlex
    fxLayout="row"
    fxLayoutAlign="end center"
    fxLayoutGap="10px"
    fxHide.lt-md="true"
  >
    <!-- Timer Set Button -->
    <button *ngIf="timer != undefined" mat-icon-button matTooltip="Timer">
      <app-time-selector></app-time-selector>
    </button>
    <span *ngIf="timer != undefined">|</span>
    <!-- Rules Modal Button -->
    <app-rules></app-rules>
    <span>|</span>
    <!-- Theme Toggle -->
    <app-theme-toggle
      [lightTheme]="isLightTheme"
      (themeToggle)="onThemeToggleClick()"
    ></app-theme-toggle>
    <span>|</span>
    <!-- Github Link -->
    <app-github [isLightTheme]="isLightTheme"></app-github>
  </div>
  <!-- Mobile Menu -->
  <div fxFlex fxHide.gt-sm="true" fxLayout="row" fxLayoutAlign="end center">
    <button mat-icon-button (click)="onMenuToggleClick()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
