@use "../../../theme.scss" as theme;

.die-image {
  border-radius: 10%;
  border: 2px solid transparent;
  width: 90%;
  height: 90%;
  transition: 0.5s;
}

.unconfirmed-die {
  @extend .die-image;
  cursor: pointer;
  -webkit-animation: fadeIn 0.3s ease-in;
  -moz-animation: fadeIn 0.3s ease-in;
  -o-animation: fadeIn 0.3s ease-in;
  -ms-animation: fadeIn 0.3s ease-in;
  animation: fadeIn 0.3s ease-in;
}

.die-border-glow {
  border: 2px solid theme.$accent-color;
  border-radius: 10%;
}

.selected-die {
  @extend .die-border-glow;
  visibility: visible;
  opacity: 1;
  -webkit-animation: fadeIn 0.3s ease-out;
  -moz-animation: fadeIn 0.3s ease-out;
  -o-animation: fadeIn 0.3s ease-out;
  -ms-animation: fadeIn 0.3s ease-out;
  animation: fadeIn 0.3s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.unconfirmed-die:hover {
  @extend .die-border-glow;
  transition: 0.5s;
}

.unconfirmed-die:hover {
  @extend .die-border-glow;
  transition: 0.5s;
}

// Confirmed die + fade out transition for all browsers

.confirmed-die-nonanim {
  @extend .die-image;
  opacity: 0.25;
}

.confirmed-die {
  @extend .die-image;
  -webkit-animation: fadeOut 0.5s ease-in;
  -moz-animation: fadeOut 0.5s ease-in;
  -o-animation: fadeOut 0.5s ease-in;
  -ms-animation: fadeOut 0.5s ease-in;
  animation: fadeOut 0.5s ease-in;
  opacity: 0.25;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
