<img
  *ngIf="die.selected && !die.confirmed"
  [@flipInXOnEnter]
  [ngClass]="{
    'unconfirmed-die': !die.confirmed,
    'confirmed-die': die.confirmed,
    'selected-die': die.selected
  }"
  (click)="onDieClick()"
  [src]="die | dieFace"
/>
<img
  *ngIf="!die.selected && die.confirmed"
  [@headShakeOnEnter]
  [ngClass]="{
    'unconfirmed-die': !die.confirmed,
    'confirmed-die': die.confirmed,
    'selected-die': die.selected
  }"
  (click)="onDieClick()"
  [src]="die | dieFace"
/>
<img
  *ngIf="!die.selected && !die.confirmed"
  [@bounceInOnEnter]
  [ngClass]="{
    'unconfirmed-die': !die.confirmed,
    'confirmed-die': die.confirmed,
    'selected-die': die.selected
  }"
  (click)="onDieClick()"
  [src]="die | dieFace"
/>
