<mat-list *ngIf="gameState | async as game">
  <app-score-board
    [players]="game.players"
    [playing]="game.players[game.currentPlayer].nick"
    [selfIndex]="game.selfIndex"
    [host]="game.players[game.currentPlayer].host"
    [gameWon]="game.gameWon"
    [restartable]="game.gamePhase != _gamePhaseConstant.WAIT"
    (newGameClick)="onNewGameClick(game.gameWon)"
  ></app-score-board>
  <app-plays
    [currentThrowPicks]="game.currentThrowPicks"
    [currentTurnScores]="game.currentTurnScores"
  ></app-plays>
</mat-list>
