<div class="mat-app-background" style="min-height: 100%" fxLayout="column">
  <!-- Toolbar -->
  <app-header
    fxFlex="0 1 auto"
    class="mat-elevation-z4"
    style="z-index: 2"
    [isLightTheme]="(isLightTheme | async) || false"
    [roomUrl]="roomUrl"
    (themeToggle)="themeToggleChanged()"
    (menuToggle)="menuToggleChanged()"
  ></app-header>
  <mat-drawer-container fxFlex>
    <mat-drawer
      style="width: 70%"
      position="end"
      [opened]="isMenuOpen"
      (closed)="menuClosed()"
    >
      <!-- Mobile Menu -->
      <mat-tab-group
        mat-stretch-tabs
        [selectedIndex]="(roomUrl | async) ? 0 : 1"
        [dynamicHeight]="true"
      >
        <mat-tab [disabled]="false">
          <ng-template mat-tab-label
            ><mat-icon>videogame_asset</mat-icon></ng-template
          >
          <app-game-menu></app-game-menu>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label><mat-icon>settings</mat-icon></ng-template>
          <app-settings-menu
            [isLightTheme]="(isLightTheme | async) || false"
            (themeToggle)="themeToggleChanged()"
          ></app-settings-menu>
        </mat-tab>
        <mat-tab fxFill fxLayout="column" fxLayoutAlign="space-between">
          <ng-template mat-tab-label><mat-icon>info</mat-icon></ng-template>
          <app-option-menu></app-option-menu
        ></mat-tab>
      </mat-tab-group>
    </mat-drawer>
    <mat-drawer-content fxLayout="column">
      <!-- App Content -->
      <div fxFlex="auto" fxLayout="column" fxLayoutAlign="center">
        <router-outlet></router-outlet>
      </div>
      <app-footer fxFlex="0 1 auto" [version]="version"></app-footer>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
