<!-- Mobile -->
<div *ngIf="menu">
  <ng-container *ngTemplateOutlet="timer"> </ng-container>
</div>
<!-- Desktop -->
<div *ngIf="!menu">
  <button mat-icon-button [matMenuTriggerFor]="times">
    <mat-icon>timer</mat-icon>
  </button>
  <mat-menu #times>
    <div style="margin: 20px" (click)="$event.stopPropagation()">
      <ng-container *ngTemplateOutlet="timer"> </ng-container>
    </div>
  </mat-menu>
</div>
<!-- Slider -->
<ng-template #timer>
  <a mat-list-item>
    <mat-icon matListIcon *ngIf="menu">timer</mat-icon>
    <div matListItemTitle>Timer: {{ time }} seconds</div>
  </a>
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-slider
      [value]="time"
      [disabled]="!host"
      (input)="time = $event.value || 0"
      style="width: 80%"
      min="0"
      max="60"
      step="15"
      value="0"
    ></mat-slider
    ><mat-icon style="position: absolute" *ngIf="!host">lock</mat-icon>
  </div>
</ng-template>
