<mat-card fxLayout="column" fxLayoutAlign="start" style="min-height: 100%">
  <!-- Current Player Name -->
  <div fxFlex="0 1 auto" fxLayoutAlign="center start" *ngIf="gamePhase != _gamePhaseConstant.WAIT">
    {{ playing == players[selfIndex].nick ? "You are " : playing + " is " }}
    Playing
  </div>
  <!-- Score Board Table -->
  <div fxFlex fxFlex.lt-md="1 0 auto" class="table-container">
    <table style="width: 100%" mat-table [dataSource]="players" *ngIf="players">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let player; let i = index">
          <span
            [ngClass]="{
              self: selfIndex == i && (playing != player.nick || !restartable),
              playing: playing == player.nick && restartable,
              player: playing != player.nick
            }"
          >
            {{ player.nick }}
          </span>
          <span *ngIf="player.host">亗</span>
        </td>
      </ng-container>
      <!-- Score Column-->
      <ng-container matColumnDef="score">
        <th mat-header-cell *matHeaderCellDef>Score</th>
        <td mat-cell *matCellDef="let player">{{ player.points }}</td>
      </ng-container>
      <!-- Rows/Columns Definition -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <button
    mat-stroked-button
    *ngIf="host"
    [color]="gameWon ? 'warn' : ''"
    [disabled]="!restartable"
    (click)="onNewGameClick()"
  >
    New Game
  </button>
</mat-card>
