<div fxLayout="column" fxLayoutAlign="center center">
  <!-- 6 dice in 2 row 3 columns style grid -->
  <mat-grid-list
    [ngClass]="{ winFlip: winningPlayer, default: !winningPlayer }"
    fxFlex
    fxFlexFill
    cols="3"
    [gutterSize]="'10px'"
  >
    <!-- Render each dice and count index -->
    <mat-grid-tile *ngFor="let die of dice; let i = index">
      <app-die [die]="die" (selectDie)="onDieSelected(i)"></app-die>
    </mat-grid-tile>
  </mat-grid-list>
  <!-- Winning Banner -->
  <div
    [@zoomOutOnLeave]
    [@zoomInOnEnter]
    *ngIf="winningPlayer"
    class="winBanner"
  >
    {{ winningPlayer.nick }} <br />
    Is Victorious! <br />
    Score: {{ winningPlayer.points }}
  </div>
</div>
