@use "../../../theme.scss" as theme;

.winFlip {
  transition: transform 500ms linear;
  transform: rotateX(180deg);
  animation: hidden 250ms ease-in;
  opacity: 0;
}

.default {
  transition: transform 500ms linear;
  transform: rotateX(0deg);
  animation: visible 250ms ease-in 250ms forwards;
  opacity: 0;
}

.winBanner {
  position: absolute;
  font-size: 3.5rem;
  line-height: 1.2;
  text-align: center;
  color: theme.$color-win;
}

@keyframes visible {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
