<div *ngIf="gameState | async as game">
  <div fxFlex="5" fxFlex.gt-lg="20"></div>
  <div fxFlex fxLayout="column" fxLayoutGap="20px">
    <!-- Timer + Score Calculation -->
    <div fxFlex fxLayout="column" fxLayoutAlign="center center">
      <app-timer [time]="game.currentTime"></app-timer>
      <app-score-potential
        [currentScore]="game.currentTurnScores | sum"
        [potentialScore]="game.potentialScore"
      ></app-score-potential>
    </div>
    <!-- Main Display -->
    <div fxFlex fxLayoutGap="20px" fxLayout.lt-md="column" fxLayout.gt-sm="row">
      <app-score-board
        fxHide.lt-md="true"
        fxFlexOrder="1"
        fxFlex="27"
        [players]="game.players"
        [playing]="game.players[game.currentPlayer].nick"
        [selfIndex]="game.selfIndex"
        [gamePhase]="game.gamePhase"
        [host]="game.players[game.selfIndex].host"
        [gameWon]="game.gameWon"
        [restartable]="game.gamePhase != _gamePhaseConstant.WAIT"
        (newGameClick)="onNewGame(game.gameWon)"
      ></app-score-board>
      <!-- Mobile Current Player -->
      <app-play-banner
        [playing]="game.currentPlayer == game.selfIndex"
        [gamePhase]="game.gamePhase"
        [nick]="game.players[game.currentPlayer].nick"
      ></app-play-banner>
      <!-- Desktop Dice + Actions -->
      <div
        fxFlex.gt-sm="60"
        fxFlex.gt-md="60"
        fxFlexOrder.lt-md="1"
        fxFlexOrder.gt-sm="2"
        fxLayout="column"
        fxLayoutGap="20px"
      >
        <app-dice-board
          fxFlex
          [dice]="game.dice"
          [selectable]="
            game.currentPlayer == game.selfIndex &&
            game.gamePhase == _gamePhaseConstant.PICK &&
            !game.bust
          "
          [winningPlayer]="
            game.gameWon ? game.players[game.currentPlayer] : null
          "
          (dieSelected)="onDieSelected($event)"
        ></app-dice-board>
        <app-action-board
          fxFlex
          [playing]="game.currentPlayer == game.selfIndex"
          [bust]="game.bust"
          [gamePhase]="game.gamePhase"
          [firstRoll]="game.currentTurnScores.length == 0"
          [host]="game.players[game.selfIndex].host"
          [confirmable]="game.potentialScore != 0"
          [startAllowed]="game.players.length > 1"
          [gameWon]="game.gameWon"
          (startGameClick)="onGameStart()"
          (rollClick)="onRoll()"
          (confirmClick)="onConfirmation()"
          (bankBustClick)="onBankBust(game.allDiceConfirmed)"
        ></app-action-board>
      </div>
      <!-- Desktop Plays Board -->
      <app-plays
        fxFlex="27"
        fxHide.lt-md="true"
        fxFlexOrder="3"
        [currentThrowPicks]="game.currentThrowPicks"
        [currentTurnScores]="game.currentTurnScores"
      >
        Plays
      </app-plays>
    </div>
  </div>
  <div fxFlex="5" fxFlex.gt-lg="20"></div>
  <app-confetti [gameWon]="game.gameWon" [bust]="game.bust"></app-confetti>
</div>
