<mat-list>
  <!-- Menu Theme / Mute Toggle -->
  <mat-list-item
    class="list-item"
    style="width: 100%"
    fxLayout="column"
    fxLayoutAlign="space-between"
  >
    <app-theme-toggle
      style="margin-left: 5px"
      fxFlex
      [lightTheme]="isLightTheme"
      (themeToggle)="onThemeToggleClick()"
    ></app-theme-toggle>
    <div fxFlex></div>
    <app-mute-toggle
      fxFlex
      [muted]="muted"
      (muteToggle)="onMuteToggle()"
    ></app-mute-toggle>
  </mat-list-item>
  <mat-divider></mat-divider>
  <!-- Menu Time Selector -->
  <app-time-selector
    [menu]="true"
    [host]="host && timeChangable"
    [time]="time"
    (timeSet)="onTimeChange($event)"
  ></app-time-selector>
  <mat-divider></mat-divider>
  <!-- Menu Decorations Toggle -->
  <mat-list-item class="list-item">
    <app-decorations-toggle
      [decorations]="true"
      (decorationsToggle)="onDecorationsToggleClick()"
    ></app-decorations-toggle>
  </mat-list-item>
  <mat-divider></mat-divider>
  <!-- Menu Popups Toggle -->
  <mat-list-item class="list-item">
    <app-popups-toggle
      [popups]="true"
      (popupsToggle)="onPopupsToggleClick()"
    ></app-popups-toggle>
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
