<div fxFlex fxLayout="row" fxLayoutAlign="center center">
  <form
    (ngSubmit)="submit()"
    [formGroup]="gameForm"
    fxFlex="30%"
    fxFlex.sm="50%"
    fxFlex.xs="90%"
    autocomplete="off"
  >
    <!-- Form -->
    <mat-card>
      <div style="text-align: center" *ngIf="!create">
        <img src="assets/logo.svg" alt="logo" style="max-width: 50%" />
      </div>
      <mat-card-title fxLayout="row">
        <!-- Form Heading -->
        <img
          *ngIf="create"
          src="assets/logo.svg"
          alt="logo"
          style="height: 4rem"
        />
        <h1>{{ formHeading }}</h1>
      </mat-card-title>
      <!-- Form Inputs -->
      <mat-card-content>
        <mat-form-field fxLayout="column">
          <!-- Nick Input -->
          <mat-label> Nick </mat-label>
          <input
            matInput
            appInputTrim
            type="text"
            placeholder="In-game nick"
            formControlName="nick"
          />
          <mat-error *ngIf="gameForm.controls['nick'].hasError('required')">
            Nick is <b>required</b>
          </mat-error>
          <mat-error *ngIf="gameForm.controls['nick'].hasError('minLength')">
            Nick must contain at least 2 characters
          </mat-error>
          <mat-error *ngIf="gameForm.controls['nick'].hasError('maxLength')">
            Nick cannot contain more than 8 characters
          </mat-error>
        </mat-form-field>
        <!-- Room Password Input -->
        <app-password-field formControlName="password"> </app-password-field>
        <!-- Max Players Slider -->
        <mat-label *ngIf="create"> Max Players </mat-label>
        <div fxLayout="row" *ngIf="create">
          <mat-slider
            [value]="maxPlayersSlider"
            (input)="maxPlayersSlider = $event.value || 2"
            class="full-width"
            min="2"
            max="6"
            step="1"
            value="2"
          ></mat-slider>
          <span style="font-size: 1.5rem">{{ maxPlayersSlider }}</span>
        </div>
        <!-- Max Points Slider -->
        <mat-label *ngIf="create"> Max Points </mat-label>
        <div fxLayout="row" *ngIf="create">
          <mat-slider
            [value]="maxPointsSlider"
            (input)="maxPointsSlider = $event.value || 3000"
            class="full-width"
            min="3000"
            max="12000"
            step="1000"
            value="3000"
          ></mat-slider>
          <span style="font-size: 1rem">{{ maxPointsSlider }}</span>
        </div>
      </mat-card-content>
      <!-- Submit Button -->
      <mat-card-actions fxLayout="row" fxLayoutAlign="center center">
        <button fxFlex="50" mat-stroked-button type="submit">
          {{ formButtonText }}
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</div>
